<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/servicio-detalle.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
      <div class="caja_titulo">
          <div class="navbar_carrito">
              <a href="/"><img src="/images/icons/flecha.svg"class="flecha"></a>
              <h2>Pago de servicio</h2>
          </div>
      </div>
      <div class="caja_contenido">
      <div class="detalles_carrito">
          <h2>$ <%= servicio.price %></h2>
          <p>Marzo 7, 2022 - 3:45 PM</p>
          <p>Pedido #<%= servicio.id_service %></p>
          <h2> Nombre del vendedor </h2>
          <article class="articulo">
                  <div class="viaje">
                   <p class="ciudad-origen"><%= servicio.origen %></p>
                      <div class="flechas">
                          <i class="fas fa-exchange-alt"></i>
                      </div>
                  <p class="ciudad-destino"><%= servicio.destination %></p>
                  </div>
  
                  <div class="precio_producto">
                      <div class="precio_line">
                          <p>Precio</p>
                          <p class="precio">$  <%= servicio.price %></p>
                      </div>
                      <div class="precio_line">
                          <p>Impuestos</p>
                          <p class="precio">$...</p>
                      </div>
                      <div class="precio_line">
                          <p>Recompensa por traslado</p>
                          <p class="precio">$...</p>
                      </div>
                      <div class="precio_line">
                          <p>Comisión por servicio</p>
                          <p class="precio">$...</p>
                      </div>
                      <hr>
                      <div class="precio_line">
                          <p>Precio del envio</p>
                          <p class="precio">$  <%= servicio.price %></p>
                      </div>
                  </div>
                  <div class="boton">
                  <a href="/" class="link_comprar"><button type="button" >Comprar</button></a></div>
      </article>
  </div>
  </div>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>