<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/shop.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
      <div class="caja_titulo">
          <div class="navbar_carrito">
              <img src="/images/icons/Shop_Empty.svg" alt="" class="carrito">
              <a href="/"><img src="/images/icons/flecha.svg"class="flecha"></a>
              <h2>Carrito de compra</h2>
          </div>
      </div>
      <div class="caja_contenido">
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3392026.6498744045!2d-59.83310539459852!3d-33.87610402093655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x95bcca3b4ef90cbd%3A0xa0b3812e88e88e87!2sBuenos%20Aires%2C%20CABA!3m2!1d-34.6036844!2d-58.3815591!4m5!1s0x959f80ffc63bf7d3%3A0x6b321b2e355bec99!2sMontevideo%20Departamento%20de%20Montevideo%2C%20Uruguay!3m2!1d-34.9011127!2d-56.164531399999994!5e0!3m2!1ses-419!2sar!4v1648317693231!5m2!1ses-419!2sar" width="600" height="500" style="border-radius:16px; border: 0; box-shadow: 2em gray; opacity: 90%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="googlemaps"></iframe>
      <div class="detalles_carrito">
          <h2><%= articulo.precio %></h2>
          <p>Marzo 7, 2022 - 3:45 PM</p>
          <p>Pedido #123</p>
          <article class="articulo">
                  <div class="viaje">
                   <p class="ciudad-origen">Buenos Aires</p>
                      <div class="flechas">
                          <i class="fas fa-exchange-alt"></i>
                      </div>
                  <p class="ciudad-destino">Mar del plata</p>
                  </div>
  
                  <div class="precio_producto">
                      <div class="precio_line">
                          <p><%= articulo.precio %></p>
                          <p class="precio">$...</p>
                      </div>
                      <div class="precio_line">
                          <p>Impuestos</p>
                          <p class="precio">$...</p>
                      </div>
                      <div class="precio_line">
                          <p>Recompensa por traslado</p>
                          <p class="precio">$...</p>
                      </div>
                      <div class="precio_line">
                          <p>Comisión por servicio</p>
                          <p class="precio">$...</p>
                      </div>
                      <hr>
                      <div class="precio_line">
                          <p>Precio del envio</p>
                          <p class="precio">$...</p>
                      </div>
                  </div>
                  <div class="boton">
                  <a href="/" class="link_comprar"><button type="button" >Confirmar Compra</button></a></div>
      </article>
  </div>
  </div>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>