<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/servicios.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
      <section class="servicios">
  
          <div class="banner">
          <div class="lupa">
              <i class="fas fa-search-location"></i>
              <p>Elegí la ruta de tu paquete</p>
          </div>
          <img src="/images/vectors/Character-1.svg" alt="">
          </div>
  
              <form action="">
                  <div class="formulario">
  
                  <div class="origen">
                      <label for="origen_envio">Origen</label>
                      <input type="text" id="origen_envio" name="origen" placeholder="Origen del envío">
                  </div>
  
                  <div class="destino">
                      <label for="destino_envio">Destino</label>
                      <input type="text" id="destino_envio" name="destino" placeholder="Destino del envío">
                  </div>
  
                  <div class="boton-buscar">
                      <a href="">Buscar</a>
                  </div>
  
                  </div>
              </form>
          
  
          <div class="filtros">
  
              <div class="filtros-mobile">
                  <i class="fas fa-filter" id="filtros"></i><label for="filtros">Filtrar</label><i class="fas fa-angle-down"></i>
              </div>
  
              <div class="filtros-desktop">
                  <div class="filtro-titulo">
                      <i class="fas fa-filter" id="filtros"></i><label for="filtros">Filtrar:</label>
                  </div>
                  <div class="filtro">
                      <a href="">Precio<i class="fas fa-angle-down"></i></a>
                  </div>
                  <div class="filtro">
                      <a href="">Frecuencia<i class="fas fa-angle-down"></i></a>
                  </div>
                  <div class="filtro">
                      <a href="">Tiempo de entrega<i class="fas fa-angle-down"></i></a>
                  </div>
                  <div class="filtro">
                      <a href="">Reseñas<i class="fas fa-angle-down"></i></a>
                  </div>
                  <div class="filtro">
                      <a href="">Tipo de paquete<i class="fas fa-angle-down"></i></a>
                  </div>
                  <div class="filtro">
                      <a href="">Tipo de usuario<i class="fas fa-angle-down"></i></a>
                  </div>
              </div>
          </div>
  
          <div class="articulos">

            <% for (let i = 0; i < articulos.length; i++) { %>
                <!-- <article class="articulo" style="background-image: url('/images/products/<%=articulos[i].imagen%>'); background-size:cover;"> -->
                    <article class="articulo">
                        <a  class="linkDetalle" href="./productos/<%= articulos[i].id %>/detalle">
                        
                      <div class="verify">
                          <% if (articulos[i].verificado == true) { %><p>Usuario verificado</p><i class="fas fa-user-check"></i><% } else { %> <p>Usuario no verificado</p><i class="fas fa-user-times"></i> <% } %>
                      </div>
  
                      <p class="ciudad-origen"><%= articulos[i].origen %></p>
                      <div class="flechas">
                          <i class="fas fa-exchange-alt"></i>
                      </div>
                      <p class="ciudad-destino"><%= articulos[i].destino %></p>
                      <p class="precio">U$s <%= articulos[i].precio %></p>
                      <div class="sub-iconos">
  
                          <div class="review">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star-half-alt"></i>
                            <p>(4.93)</p>
                          </div>
  
                          <div class="comprar">
                              <p>Ver más</p><img src="/images/icons/Shop_Empty.svg" alt=""> 
                          </div>
  
                      </div>
                    </a>
                    
                    </article>
                
            <% } %>
  
          </div>
  
          <div class="boton-ver-mas">
              <a href="">Ver mas</a><i class="fas fa-angle-down"></i>
          </div>
  
      </section>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>