<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/admin-lista-servicios.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
        <section>

          <a href="/"><img src="/images/icons/flecha.svg"class="flecha"></a>
            <h1>Lista de servicios</h1>

            <div class="lista-servicios">

                  <% for (let i = 0; i < servicios.length; i++) { %>
                    <div class="servicio">
                    <a href=""><p><%= servicios[i].id_service %> - Nombre del usuario - Desde <%= servicios[i].origen %> hacia <%= servicios[i].destination %>
                      </p></a>
                    </div>
                  <% } %>
                

            </div>
        </section>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>