<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/perfil.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->

    <main>
      <div class="principal">

        <a href="/"><img src="/images/icons/flecha.svg"class="flecha"></a>

        <div class="titulo"><h1>Hola <%= user.first_name %></h1></div>

        <div class="user-info">
        <div class="imagen"><img src="/images/avatars/<%= user.image ? user.image : 'default.png' %>" width="180" style="border-radius:100%;" alt="">
            <a class="boton-editar" href="/users/editar-perfil/<%= user.id_user %>">Editar perfil</a>
        </div>

        <div class="edit-info">
          <label for="">Nombres</label>
          <p><%= user.first_name %></p>
          <label for="">Apellidos</label>
          <p><%= user.last_name %></p>
          <label for="">Correo electrónico</label>
          <p><%= user.email %></p>
          <label for="">Fecha de nacimiento</label>
          <p><%= user.date %></p>
          <label for="">Genero</label>
          <p><%= user.gender %></p>
          <label for="">Tipo de usuario</label>
          <p><%= usuario.categoriaU.name %></p>
        </div>
      </div>
    </div>
    </main>

<%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
