<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/admin-lista-usuarios.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
        <section>

          <a href="/"><img src="/images/icons/flecha.svg"class="flecha"></a>
            <h1>Lista de usuarios</h1>

            <div class="lista-usuarios">

                    <% for (let i = 0; i < usuarios.length; i++) { %>
                      <div class="usuario">
                      <a href=""><p> #<%= usuarios[i].id_user %> - <%= usuarios[i].first_name %> <%= usuarios[i].last_name %>
                        </p></a>
                      </div>
                    <% } %>
                

            </div>
        </section>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>