<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
      <section>
          <img src="/images/vectors/Security.svg" class="Candado" width="75" alt="candado">
          <a href="/" class="botonCancelar"><i class="far fa-times-circle"></i></a>
          <h1>Iniciar sesión</h1>
          <p class="nuevo-usuario">¿Nuevo usuario?</p>
          <a href="/users/registro" class="registrate">Registrate</a>
          <form action="/users/login" method="post" class="formulario-ingreso">
              <input type="text" class="casilla" name="email" value="<%= locals.old && old.email ? old.email : ''%>" placeholder="Usuario o correo electrónico">
              <% if (locals.errors && errors.email) { %>
                <div class="feedback-danger">
                  <%= errors.email.msg %>
                </div>
              <% } %>

              <input type="password" class="casilla" name="password" placeholder="Contraseña">
              <% if (locals.errors && errors.password) { %>
                <div class="feedback-danger">
                  <%= errors.password.msg %>
                </div>
              <% } %>

              <div class="checkbox">
                  <input type="checkbox" class="checkbox-box" id="recordarme" name="recordarme"><i class="fa-solid fa-square-check"></i><label for="recordarme" class="label">Recordarme</label>
              </div>
              
              <div class="boton-iniciarSesion">
              <input type="submit" name="login" id="login" value="Iniciar sesion">
              </div>
            </form>
          <div class="iniciarSesionCon-mobile">
              <p class="iniciar-sesion-con">Iniciar sesión con</p>
              <a class="boton-iniciarSesionGoogle" href="/">Google</a>
          </div>
          <a href="#" class="recuperoContraseña">¿Olvidaste tu Contraseña?</a>
      </section>
      <div class="iniciarSesionCon-desktop">
          <p class="iniciar-sesion-con">Iniciar sesión con</p>
          <a class="boton-iniciarSesionGoogle" href="/">Google</a>
      </div>
      <div class="CharacterIMG">
          <a href="/users/admin/crear"><img src="/images/vectors/Character-2.svg" class="Character" width="180" alt="Character-2"></a>
      </div>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
