<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/mis-servicios.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>

      <div class="mis-servicios">
        <h1>Mis servicios</h1>

        <% for (let i = 0; i < misServicios.length; i++) { %>
          <div class="servicio">
          <a href="/users/mis-servicios/<%= misServicios[i].id_service %>"><p> <%= misServicios[i].id_service %> - Desde <%= misServicios[i].origen %> hacia <%= misServicios[i].destination %>
            </p></a> <a class="editar" href="/users/editar-servicio/<%= misServicios[i].id_service %>">Editar</a>
          </div>
        <% } %>

      </div>
      <div class="boton-buscar">
        <a href="/users/crear-servicio">Crear</a>
    </div>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>
