<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/registro.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
      <section>
          <img src="/images/vectors/Security.svg" class="Candado" width="75" alt="candado">
          <a href="/" class="botonCancelar"><i class="far fa-times-circle"></i></a>
          <h1>Registrarse</h1>
          <p class="nuevo-usuario">¿Ya tienes una cuenta?</p>
          <a href="/users/login" class="iniciar-sesion">Iniciar sesión</a>
          <ul class="errores"></ul>
          <form action="/users/registro" method="POST"  class="formulario-registro" enctype="multipart/form-data">
              <input type="text" class="casilla first_name" name="first_name" value="<%= locals.old && old.first_name ? old.first_name : ''%>" placeholder="Nombres">
              <% if (locals.errors && errors.first_name) { %>
                <div class="feedback-danger">
                  <%= errors.first_name.msg %>
                </div>
              <% } %>

              <input type="text" class="casilla last_name" name="last_name" value="<%= locals.old && old.last_name ? old.last_name : ''%>" placeholder="Apellidos">
              <% if (locals.errors && errors.last_name) { %>
                <div class="feedback-danger">
                  <%= errors.last_name.msg %>
                </div>
              <% } %>

              <input type="email" class="casilla email" name="email" value="<%= locals.old && old.email ? old.email : ''%>" placeholder="Correo electrónico">
              <% if (locals.errors && errors.email) { %>
                <div class="feedback-danger">
                  <%= errors.email.msg %>
                </div>
              <% } %>

              <input type="password" class="casilla pass1" name="password" placeholder="Contraseña">
              <% if (locals.errors && errors.password) { %>
                <div class="feedback-danger">
                  <%= errors.password.msg %>
                </div>
              <% } %>

              <div class="formulario-fecha">
                  <label for="fecha">Fecha de nacimiento</label><input type="date" class="fecha" name="date" placeholder="Fecha de nacimiento">
                  <% if (locals.errors && errors.date) { %>
                    <div class="feedback-danger">
                      <%= errors.date.msg %>
                    </div>
                  <% } %>
              </div>
  
              <div class="form-genero">
                <label for="">Género</label>
                  <select name="gender" id="genero" aria-placeholder="Género" class="genero">
                      <option value="Femenino" <%= locals.old && old.gender === 'Femenino' ? 'selected' : ''; %>>Femenino</option>
                      <option value="Masculino" <%= locals.old && old.gender === 'Masculino' ? 'selected' : ''; %>>Masculino</option>
                      <option value="Otrx" <%= locals.old && old.gender === 'Otrx' ? 'selected' : ''; %>>Otrx</option>
                  </select>
              </div>

              <div class="tipo-de-usuario">
                <label for="">Tipo de usuario</label>
                <div class="sub-tipo-de-usuario">
                  <% for (let i = 0; i < categoriaUsuario.length; i++) { %>
                    <div class="<%= categoriaUsuario[i].name.toLowerCase() %>">
                      <label for="<%= categoriaUsuario[i].name %>"><%= categoriaUsuario[i].name %></label>
                      <input type="radio" name="id_user_category" id="<%= categoriaUsuario[i].name %>" value="<%= categoriaUsuario[i].id_user_category %>" <%= locals.old && old.id_user_category === categoriaUsuario[i].name ? 'checked' : ''; %> checked>
                    </div>
                  <% } %>
                </div>
                <% if (locals.errors && errors.id_user_category) { %>
                  <div class="feedback-danger">
                    <%= errors.id_user_category.msg %>
                  </div>
                <% } %>
                </div>

              <div class="form-foto">
                <label for="avatars">Foto de perfil</label>
                  <input type="file" name="image" id="avatars" accept="image/png, image/jpeg, image/jpg, image/gif">
              </div>
              
              <div class="boton-registrarse">
                <button type="submit" value="Registrarse">Registrarse</button>
              </div>
          </form>
  
          <div class="registrarse-mobile">
              <p class="registrarse-con">Registrarse con</p>
              <a class="boton-registrarseGoogle" href="/">Google</a>
          </div>
      </section>
  
      <div class="registrarse-desktop">
          <p class="registrarse-con">Registrarse con</p>
          <a class="boton-registrarseGoogle" href="/">Google</a>
      </div>
      <div class="CharacterIMG">
          <img src="/images/vectors/Charecter-3.svg" class="Character" alt="Character-3">
      </div>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
    <script src="../js/validator.js"></script>
  </body>
</html>