<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/registro.css">
  </head>
  <body>
    <%- include('../partials/header') %>   <!-----------HEADER----------->
    
    <main>
      <section>
          <img src="/images/vectors/Security.svg" class="Candado" width="75" alt="candado">
          <a href="/" class="botonCancelar"><i class="far fa-times-circle"></i></a>
          <h1>Registrarse</h1>
          <p class="nuevo-usuario">¿Ya tienes una cuenta?</p>
          <a href="/users/login" class="iniciar-sesion">Iniciar sesión</a>
          <% if (locals.errors) { %>
            <% for( let oneError in errors) { %>
              <p class="feedback-danger"><%= errors[oneError].msg %></p>
            <% } %>
          <% } %>
          <form action="/users/registro" method="POST"  class="formulario-registro" enctype="multipart/form-data">
              <input type="text" class="casilla" name="name" value="<%= locals.old && old.name ? old.name : ''%>" placeholder="Nombre completo">
              
              <input type="email" class="casilla" name="email" value="<%= locals.old && old.email ? old.email : ''%>" placeholder="Correo electrónico">

              <input type="password" class="casilla pass1" name="password" placeholder="Contraseña">
              
              <input type="password" class="casilla pass2" name="contraseña-registro-check" placeholder="Contraseña">
              
              <div class="formulario-fecha">
                  <label for="fecha">Fecha de nacimiento</label><input type="date" class="fecha" name="fecha" placeholder="Fecha de nacimiento">
              </div>
  
              <div class="form-genero">
                  <select name="gender" id="genero" aria-placeholder="Género" class="genero">
                      <option value="Femenino" <%= locals.old && old.gender === 'Femenino' ? 'selected' : ''; %>>Femenino</option>
                      <option value="Masculino" <%= locals.old && old.gender === 'Masculino' ? 'selected' : ''; %>>Masculino</option>
                      <option value="Otrx" <%= locals.old && old.gender === 'Otrx' ? 'selected' : ''; %>>Otrx</option>
                  </select>
              </div>
              
              <div class="boton-registrarse">
                <input type="submit" name="registrar" id="registrarse" value="Registrarse">
              </div>
          </form>
  
          <div class="registrarse-mobile">
              <p class="registrarse-con">Registrarse con</p>
              <a class="boton-registrarseGoogle" href="/">Google</a>
          </div>
      </section>
  
      <div class="registrarse-desktop">
          <p class="registrarse-con">Registrarse con</p>
          <a class="boton-registrarseGoogle" href="/">Google</a>
      </div>
      <div class="CharacterIMG">
          <img src="/images/vectors/Charecter-3.svg" class="Character" alt="Character-3">
      </div>
  </main>

    <%- include('../partials/footer') %>   <!-----------FOOTER----------->
  </body>
</html>